init.author.name = Frank Reashore
init.author.email = frank.reashore@gov.bc.ca
init.author.url = http://http://www.communitylivingbc.ca/
# an email is required to publish npm packages
email=frank.reashore@gov.bc.ca
always-auth=true
#_auth=LW4gJ0RlcGxveW1lbnQuVXNlcjpQQHNzdzByZCcgDQo=
_auth=LW4gJ2RlcGxveW1lbnQ6UEBzc3cwcmQnIA0K
