init.author.name = Frank Reashore
init.author.email = frank.reashore@gov.bc.ca
init.author.url = http://http://www.communitylivingbc.ca/
# an email is required to publish npm packages
email=frank.reashore@gov.bc.ca
always-auth=true
#_auth=ZnJhbmsucmVhc29yZTpTdGVwczJLbm93bGVkZ2U=
_auth=b2446fa1-7766-3854-beea-2d71def3c794

